<div>
    <div>
        {{ title }}
    </div>

    <div>
        <button mat-button (click)="onRegister()">Add movie</button>
    </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

    <!-- Acciones -->
    <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let cinema">
            <button mat-icon-button color="primary" (click)="onEdit(cinema)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(cinema)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <!-- ID -->
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let cinema"> {{ cinema.id }} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let cinema"> {{ cinema.name }} </td>
    </ng-container>

    <!-- Duración -->
    <ng-container matColumnDef="Duración">
        <th mat-header-cell *matHeaderCellDef> Duración (min) </th>
        <td mat-cell *matCellDef="let cinema"> {{ cinema.duration }} </td>
    </ng-container>

    <!-- Imagen -->
    <ng-container matColumnDef="Imagen">
        <th mat-header-cell *matHeaderCellDef> Imagen </th>
        <td mat-cell *matCellDef="let cinema">
            <img [src]="cinema.urlImage" alt="{{ cinema.name }}" width="100" height="auto" style="border-radius: 4px;">
        </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>